.popup {
    position: absolute;
    color: white;
    top: 10%;
    left: 10%;
    padding: 10px;
    background-color: rgb(119, 114, 114);
    border-radius: 20px;
    z-index: 1000;

    h3 {
        margin: 0 0 1rem 0;
    }

    .status {
        margin: 0 0 0.5rem 0;
    }

    .comment {
        margin: 0 0 .5rem 0;
    }
}